:root {
  --backgroundHard: rgb(70, 150, 240); ;
  --backgroundMedium: rgb(205, 205, 205); 
  --backgroundSoft: rgb(70, 130, 180); ;
  --textColor: rgb(255, 255, 255);
}

h1, h2, h3, p {
  margin: 0px;
  text-align: center;
  color: var(--textColor);
}

h2 {
  margin: 40px 0px;
}

li {
  color: var(--textColor);
}

body {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0px;
  background-color: var(--backgroundSoft);
}

header {
  position: fixed;
  background-color: var(--backgroundHard);
  left: 0;
  top: 0;
  right: 0;
  box-shadow: 0 4px 32px rgba(0, 0, 0, 0.5);
  /*height: 50px;*/
  /*display: flex;*/
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.City {
  padding: 10px;
}

.selCity {
  border-radius: 5px;
  background-color: var(--backgroundMedium);
}

.Day {
  text-align: center;
  /*align-items: center;*/
}

.Language {
  padding : 5px;
  /*display : flex;*/
  justify-content: space-between;
}

.btnFlag {
  padding: 0px;
  border-radius: 5px;
  width : 60px;
  height : 30px;
  margin-right: 10px;
}

.btnFlag:hover {
  cursor: pointer;
}

.imgFlag {
  width: 100%;
  height: 100%;
}

.sinSicily {
  background-color: var(--backgroundMedium);
  border-radius: 10px;  
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.5);
  height: 230px;
  width: 90%;
}

.MultiCard {
  display: flex;
  padding: 5px;
  border-radius: 10px;
  flex-wrap: nowrap;
  overflow-x: scroll;
}

.SingleCard {
  padding: 10px;
  border-radius: 10px;
  width: 98%;
  background-color: var(--backgroundHard);
}

.divCardSingle {
  background-color: var(--backgroundHard);
  /*margin: 2px solid black;*/
  display: flex;
  justify-content: space-between;
}

.divImgSingle {
  border : 4px solid var(--textColor);
  border-radius: 5px;
}

.divTitleSingle {
  min-width: 180px;
  max-width: 180px;
  height: 185px;

  text-align: center;
  
  flex-direction: column;
  justify-content: space-evenly;
}

.divParamSingle {
  min-width: 160px;
  max-width: 160px;
  height: 185px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.Min {
  color: rgb(100, 255, 100);
}

.Max {
  color: red;
}

.divCardMulti {
  background-color: var(--backgroundHard);
  border-radius: 5px;
  min-width: 160px;
  max-width: 160px;
  height: 185px;
  margin: 5px;
  /*transition: 0.4s ease;*/
}

.imgCard {
  size: 100%;
  margin: 0;
  background-color: var(--backgroundHard);
}

.imgSicily {
  margin: 40px 0 0 0;
  display : flex;
  height: 1000px;
  
  width: 90%;
  border : 2px solid violet;
  
  /*background-image : url("./image/Sicilia.gif");*/
  box-shadow: 0 4px 32px rgba(0, 0, 0, 0.5);

  background-image : url("./image/sic_2.png");
  background-size: 100%;
  background-color : var(--textColor);
  
  /*background-clip : padding-box;*/
  background-position : top left; 
  background-repeat : no-repeat; 
}

@media (max-width: 630px) {
 
  body {
    font-size: 0.8rem;
  }  

  .btnFlag {
    width : 40px;
    height : 20px;
  }

  .SingleCard {
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
}
 